@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
html, body{
    margin: 0;
    width: 100%;
    font-family: 'Shantell Sans', cursive;
    min-height: 100vh;
    object-fit: cover;
    align-items: center;
    background: url("./images/frontpage1.gif") no-repeat;
    background-size: cover;
    background-position:center;
}
