@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


html, body{
    margin: 0;
    width: 100%;
    font-family: 'Shantell Sans', cursive;
    min-height: 100vh;
    object-fit: cover;
    align-items: center;
    background: url(/images/frontpage1.gif) no-repeat;
    background-size: cover;
    background-position:center;
   
}
.container{
    position: fixed;
    top: 20%;
    left: 35%;
}
.logo{
    margin-top: .2rem;
    text-align: center;
}
.logo img{
    height: 6rem;
    border-radius: 20%;
    border: 5px solid #def58c;
}
h2{
    color: #27e7ee;
    text-align: center;
    font-size: 1.5rem;
}
form{
    display: flex;
    justify-content: center;

    align-items: center;
}
form input{
    background: transparent;
    font-size: 2rem;
    color: #f4f4f5;
   text-align: center;
}
form .no-outline{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom: 2px solid #dfee0a;
    background-color: transparent;
}
.no-outline:focus {
    outline: none;
}


